= simple_form_for(@line_entry, url: @url, method: @method, html: { multipart: true, id: 'line-entry-form', class: 'form-horizontal' }) do |f|
  = @properties_inputs

  - if not @line_entry.new_record?
    #mentions
      - @mentions.each do |mention| 
        = link_to "@#{mention}", "#"
      
    #tags
      - @hashtags.each do |hashtag|
        %span.label.label-info
          = link_to "##{hashtag}", "#"

    #tasks
      %ul.list-group
      - @line_entry.tasks.each do |task|
        %li.list-group-item
          %input{type: 'checkbox'}
          = task.description

    #followups
      %h1 Followup
      .progress
        .progress-bar{role: "progressbar", "aria-valuenow"=>@line_entry.current_percentage,
          "aria-valuemin"=>"0", "aria-valuemax" => "100", style: "width: #{@line_entry.current_percentage}%;"}
          = "#{@line_entry.current_percentage}% Complete"

      - @line_entry.followups.each do |followup|
        .media.well
          .media-left
            %a{href: "#"}
              %img.img-circle.media-object{style: 'width: 64px; height: 64px;', src: "http://fluvip.com/assets/redesign/team/sebastianjasminoy.jpg", alt: "..."}
          .media-body
            %h4.media-body= followup.description
            = "#{followup.percentage}%"

      - if @line_entry.needs_followup?
        .well
          = f.simple_fields_for :followups, @line_entry.followups.build do |ff|
            .form-group
              = ff.label :description, "Activity details"
              = ff.input_field :description, class: 'form-control'
            .form-group
              = ff.label :percentage, "Completion percentage"
              = ff.input_field :percentage, class: 'form-control'

            .form-group
              %label{ for: "line_entry_followups_attributes_0_tasks" } Tasks (one per line)
              %textarea{ id: "line_entry_followups_attributes_0_tasks",
                name: "line_entry[followups_attributes][0][tasks]",
                class: 'form-control', rows: 5 }

            .form-group
              = ff.label :attachments, "Attachments"
              = ff.file_field :attachments, multiple: true,
                name: "line_entry[followups_attributes][0][attachments][]",
                class: 'form-control'

  - if @line_entry.needs_followup?
    = f.submit "Submit", class: 'btn btn-primary'
