= simple_form_for(@line_entry, html: { id: 'line-entry-form', class: 'form-horizontal' }) do |f|
  = f.label :title, 'Title'
  = f.input_field :title

  = f.label :advertiser, 'Advertiser'
  = f.input_field :advertiser

  = f.label :client, 'Client'
  = f.input_field :client

  = f.submit "Submit"
