= link_to 'New', new_line_entries_path(@line_entry_path)
%table.table
  %thead
    %tr
      %th Something
      %th Name
      %th Progress
      %th
  %tbody
    - @line_entries.each do |entry|
      %tr
        %td= entry.data["title"]
        %td= entry.user.first_name
        %td
          .progress
            .progress-bar{role: "progressbar", "aria-valuenow"=>entry.current_percentage,
              "aria-valuemin"=>"0", "aria-valuemax" => "100", style: "width: #{entry.current_percentage}%;"}
              = "#{entry.current_percentage}% Complete"
        %td= link_to "Edit", edit_line_entry_path(params[:line_entries], entry)
