<!DOCTYPE html>
<html lang="en">
<head>
  <title>ItFollows</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <nav class="navbar">
      <ul class="nav nav-tabs">
        <% @lines.each do |line| %>
          <li role="presentation">
            <%= link_to line.name.humanize, line_entries_path(line_entries: line.slug_name) %>
          </li>
        <% end %>
      </ul>

      <div class="navbar-right">
        <div class="media">
          <div class="media-left">
            <img class="img-circle media-object" src="<%= current_user.image_url %>" />
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= current_user.full_name %></h4>
            <b>@<%= current_user.screen_name %></b>
            <%= current_user.email %>
          </div>
        </div>
      </div>
    </nav>
  <% end %>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
